.big-banner{
  /* The image used */
  background-image: url('/static/img/mixed-weather-gif.gif');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
