{% extends "base.html" %}

{% block content %}

    <form method="post" action="/login">

        <div class="container mt-4" >
            <h2 class="text-center">WELCOME</h2>
            <br>

            <div class="row">
                <div class="col-md-4 offset-md-1 form-group">
                    <input type="text" name="user-name" placeholder="Enter your name"><br>
                    <input type="email" name="user-email" placeholder="Enter your email address"><br>
                    <input type="password" name="user-password" placeholder="Enter your password"><br>

                    <button class="btn btn-success center-block mt-3">Submit</button>
                </div>
            </div>




        </div>
    </form>


{% endblock content %}
