<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Weather</title>

        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/custom.css">




    <body class="big-banner">

            <nav class="navbar navbar-expand-lg navbar-gray bg-dark">
        <a class="navbar-brand text-warning" href="#"> GAB N. Final Project Assignment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/users">All users</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

                <h1 class="text-center"> Weather</h1>
                <h2 class="text-center"><strong>Welcome!</strong> </h2>
                <p class="text-center">Location: {{ data.name }}</p>
                <p class="text-center">Weather description: {{ data.weather[0].description }} </p>
                <p class="text-center">Current temperature: {{ data.main.temp }} °C</p>
                <p class="text-center">Current min temperature : {{ data.main.temp_min }} °C</p>
                <p class="text-center">Current max temperature: {{ data.main.temp_max }} °C</p>
                <p class="text-center">Current humidity: {{ data.main.humidity }} °C</p>
                <p class="text-center">Current feels like: {{ data.main.feels_like }} °C</p>

    </body>
</html>